﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Diet.About" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
 </asp:Panel>
            <asp:Panel ID="Panel2" runat="server" Height="256px" Width="804px">
                Name:
                <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                <br />
                Select Image:
                <asp:FileUpload ID="FileUpload1" runat="server" Width="235px" />
                <br />
                <asp:Button ID="Button2" runat="server" Text="Upload Image" OnClick="Button2_Click" />
                <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                
                <asp:Image ID="Image1" runat="server" />

            </asp:Panel>

</asp:Content>
